@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

body
{
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

h1{
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 119%;
}

h2{
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 150%;
}


p{
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}

@media (max-height: 420px){
 .w1-t-adaptation{
		flex-direction: row;
		margin-bottom: 1px;
		margin-top: 1px;
	}
	.w1-main-adaptation{
		margin-top: 5px;
	}
}


@media (min-width: 1024px) {
  .lg\:wrapper-1-img{
		background-image: url(../public/backgrounds/sleeping-lady.png);
		background-repeat: no-repeat;
		/* background-size: 100%; */
		background-position: center center;
  	background-size: cover;
	}

	.lg\:title-1{
		max-width: 40rem;
	}


}

@media (min-width: 1300px){
	.wrapper-main .lg\:w5-img{
		background: #FAFAFA;
		background-image: url(../public/backgrounds/sofa-bg.png) , url(../public/backgrounds/circle-bg.png);
		background-repeat: no-repeat;
		background-size:  auto;
		background-position: right bottom, right;
		min-height: 609px;
		animation: changeBg 15s ease-out infinite;
	}

	@keyframes changeBg{
		0%,100%  {background-image: url(../public/backgrounds/sofa-bg.png) , url(../public/backgrounds/circle-bg.png);}
		10% {background-image: url(../public/backgrounds/Header-Image\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		20% {background-image: url(../public/backgrounds/Header-Image\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		30% {background-image: url(../public/backgrounds/bedbase_5ft_14i_2\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		40% {background-image: url(../public/backgrounds/bedbase_5ft_14i_2\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		50% {background-image: url(../public/backgrounds/jada-mattress-7-edit\ копия\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		60% {background-image: url(../public/backgrounds/jada-mattress-7-edit\ копия\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		70% {background-image: url(../public/backgrounds/no-background-bigger\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		80% {background-image: url(../public/backgrounds/no-background-bigger\ 1.png) , url(../public/backgrounds/circle-bg.png);}
		90%  {background-image: url(../public/backgrounds/sofa-bg.png) , url(../public/backgrounds/circle-bg.png);}

 }
}

.menu-button{
	background-image: url(../public/icons/icons8-menu-rounded-100.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.button-call{
	color: #29ABE2;
	border: 2px solid #29ABE2;
	border-radius: 26px;
}

.choose-mattress-button{
	background-color: #29ABE2;
	height: 52px;
	border-radius: 26px;
	box-shadow: 0 14px 21px -11px #29abe2;
}

.show-all-types-button{
	background-color: #29ABE2;
	width:200px;
	color: white;
	height: 52px;
	border-radius: 26px;
	box-shadow: 0 14px 21px -11px #29abe2;
}

.mouse-iconed-button{
	color: #29ABE2;
}

.phone{
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: black;
}

.menu{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #272727;
}

.wrapper-2{
	min-height: 480px;
	background: #29ABE2;
}

.perk{
	max-width: 219px;
	text-align: center;
	align-items: center;

}

.mattress-covers-button{
	width: 178px;
	height: 52px;
	color: #29ABE2;
	border: 2px solid #29ABE2;
	border-radius: 26px;
}

.mattress-covers-button:hover{
	color: white;
	background: #29ABE2;
}

.children-mattresses-button{
	width: 189px;
	height: 52px;
	color: #29ABE2;
	border: 2px solid #29ABE2;
	border-radius: 26px;
}

.children-mattresses-button:hover{
	color: white;
	background: #29ABE2;
}

.wrapper-3{
	padding-top: 30px;
	background: #FAFCFF;
}

.text-intro{
	max-width: 600px;
}

.wrapper-3-line{
	background: #29ABE2;
}
.categories{
 position: relative;
}

.categories::before{
	content: 'Выберите категорию:';
	position: absolute;
	white-space: nowrap;
	top:-24px
}

.custom-select{
	background: #29ABE2;
	border: 0 solid #29ABE2;
	width: 178px;
	height: 52px;
	color: white;
	border-radius: 26px;
	text-align: left;
	padding-left: 28px;
	appearance: none;
	background-image: url(../public/icons/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: 143px 23px;
}

.custom-select option{
	background: white;
	color: black;
}

.mattress-type{
	width: 280px;
	height: 500px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid #F9F9F9;
	box-shadow: 0px 2px 9px rgba(41, 171, 226, 0.12);
	margin: 16px 16px;
}

.mattress-type h2{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.order-button{
	background: white;
	color: #29ABE2;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	width: 239px;
	line-height: 18px;
	text-align: left;
	background-image: url(../public/icons/order-button-arrow.svg);
	background-repeat: no-repeat;
	background-position: 228px 3px;
}

.mattress-description-composition{
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;

	color: #9F9F9F;
}

.custom-select-mattress-size{
	width: 138px;
	height: 30px;
	border: 2px solid 29ABE2;
	border-radius: 15px;
	text-align: center;
	border: 2px solid #29ABE2;
	margin-left: 28px;
}


.mattress-info p {
	font-size: 13px;
	font-weight: 400;
}

.mattress-types{
	margin: 10px auto;
}



.wrapper-4-standart-button{
	background: #29ABE2;
	/* background: red; */
	width: 180px;
	height: 50px;
	position: relative;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 150%;
	color: #FFFFFF;
}

.wrapper-3-howitworks-button{
	border-bottom: 2px dashed #29ABE2;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;
	color: #353535;
	margin-bottom: 10px;
	vertical-align: middle;
}

.wrapper-4-standart-button::after{
	position: absolute;
	left: 50%;
	bottom: -13px;
	content: url(../public/icons/arrow-down-blue-filled.svg);
}

.wrapper-4-sizing-button{
	background: #EAEBEB;
	width: 199px;
	height: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;
	color: #676767;
}

.mattress-constructor{
	border: 2px solid #F2F2F2;
}

.custom-select-size-constructor{
	background: white;
	border: 2px solid #29ABE2;
	width: 106px;
	height: 30px;
	border-radius: 26px;

	text-align: left;
	padding-left: 28px;
	appearance: none;
	background-image: url(../public/icons/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: 143px 23px;
}

.mattress-constructor-added-layer{
	width: fit-content;
	height: 38px;
}

.w4-constructor-wrapper{
	min-height: 480px;
}

.constructor-move-button{
	width: 38px;
	height: 38px;
	background-image: url(../public/icons/move-button.svg);
	background-repeat: no-repeat;
	background-position-x: center;
}

.constructor-remove-button{
	width: 38px;
	height: 38px;
	background-image: url(../public/icons/remove-button.svg);
	background-repeat: no-repeat;
	background-position-x: center;
}

.mattress-constructor-kit{
	max-width: 100vw;
}

.mattress-constructor-added-layer{
	width: 452px;
	height: 38px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.add-layer{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	color: #29ABE2;
}

.mattress-layer-add-remove{
	margin-top: 17px;
	margin-bottom: 17px;
	border-top: 1px solid#6767672e;
	border-bottom: 1px solid#6767672e;
	padding: 10px 0;
}

.constructor-added-layer-info{
	width: 100%;
	display: grid;
	grid-template-columns: 141px 2fr 1fr;
}

.layer-name{
	max-width: fit-content;
}

.layer-property{
	max-width: fit-content;

}

.layer-price{
	max-width: fit-content;

}

.wrapper-4-button-box{
	max-width: 100vw;
}

.visualisation-size-arrow{
	height: 10px;
	height: 89px;
	width: 9px;
	margin-left: 9px;
}

.w5-perks{
	max-width: 270px;
}

.wrapper-5{
	background: #FAFAFA;
}

